footer {
  height: 50px;
  width: 100%;
  background-color: limegreen;
  position: fixed;
  left: 0;
  bottom: 0;
}
.top {
  background-color: #ffe4c4;
  width: 200px;
  float: left;
}
main{
  background-color: aqua;
}
.text{
 margin-left: 200px;
 background-color:darkgrey;
}